.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #e84040;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 54px;
  top: 41px;
  width: 247px;
  height: 61px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 803px;
  top: 41px;
  width: 232px;
  height: 60px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1042px;
  top: 41px;
  width: 230px;
  height: 68px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1187px;
  top: 41px;
  width: 226px;
  height: 94px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 361px;
  width: 1160px;
  height: 80px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 302px;
  top: 472px;
  width: 845px;
  height: 114px;
}
.rectangle-1 {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 635px;
}
.get-started {
  color: #000000;
  text-align: right;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 646px;
  width: 142px;
  height: 35px;
  -webkit-text-stroke: 1px #000000;
}
