.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #e84040;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 54px;
  top: 41px;
  width: 247px;
  height: 61px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 803px;
  top: 41px;
  width: 232px;
  height: 60px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1042px;
  top: 41px;
  width: 230px;
  height: 68px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1187px;
  top: 41px;
  width: 226px;
  height: 94px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 847px);
  top: 161px;
  width: 1487px;
  height: 80px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 274px;
  width: 1301px;
  height: 121px;
}
.semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 507px;
  width: 1301px;
  height: 48px;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 587px;
  width: 1301px;
  height: 48px;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 30px;
  top: 666px;
  width: 1301px;
  height: 48px;
}
